<% provide(:title, "Home") %>
<%= render 'shared/top_banner'%>
<div class="container below-banner-txt">
  <p>Wouldn't it be nice if we can all come together to make the world a better place? Read WIBNIs by others. Get inspired. Seed your own WIBNI. Inspire others.</p>
</div>

<div class="home-cat-container">
  <%= render 'categories/category_index'%>
</div>
