<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the WIBNI. Ready to change the World?</h1>

  <h2>
    This is the home page for WIBNI
  </h2>

  <%if !logged_in?%>
    <%= link_to "Come. Change the world.", signup_path, class: "btn btn-lg btn-primary" %>
  <%end%>
</div>
