<% provide(:title, 'New WIBNI') %>
<% provide(:button_text, "Spark a change!") %>
<h1>Seed a change</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%=render "/wibnis/form"%>
  </div>
</div>
