<li>
  <div class="col-md-4 col-xs-12">
    <div class="cat-wibni-container">
      <%= image_tag category.picture.url if category.picture? %>
      <%= link_to category.name, category %>
      <%= link_to "| edit |", "/categories/#{category.id}/edit"%>
      <%= link_to "delete", category, method: :delete, data: { confirm: "You sure?" } %>
    </div>
  </div>

</li>
