<% provide(:title, "Edit category") %>
<% provide(:button_text, "Change me!") %>
<h1>Update category</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%=render "/categories/form"%>
  </div>
</div>
