<% provide(:title, 'All categories') %>
<h1>All Categories</h1>
<div class="container">
  <div class="container">
    <% if logged_in? && current_user.admin? %>
      <%= link_to "New Category", "/categories/new", class: "btn btn-primary"%>
    <% end%>
  </div>


  <%=render '/categories/category_index'%>
</div>
