<% provide(:title, @category.name) %>
<div class="container">
  <h1><%=@category.name%></h1>
    <%@category.products.each do |product|%>
      <div class="container cat-pdt-container col-md-4 col-xs-12">
        <%= image_tag product.picture.url if product.picture? %>
        <div class="container">
          <%=link_to "#{product.name}", "/products/#{product.id}"%>
          <%=product.price%>
        </div>
      </div>
    <%end%>

</div>
