<% provide(:title, 'New product') %>
<% provide(:button_text, "Add New product") %>
<h1>Add a new product</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%=render "/products/form"%>
  </div>
</div>
